@using Paup_StudentskaMenza.Models

@model Meni
@*model Tuple<IEnumerable<SelectListItem>>*@

@{
    ViewBag.Title = "Dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Naziv").val(0);
        $("#Naziv").change(function () {

            var jeloId = $("#Naziv").val();
            DohvatiCijenu(jeloId);
        });

        $("input[type=text]").change(function () {
            IzracunajUkupnuCijenu();
        });
        $("#btnDodaj").click(function () {
            DodajUMeni();
        });
    });

    function DodajUMeni() {
        var tblMeni
    }

    function IzracunajUkupnuCijenu() {
        var jelocijena = $("#txtJeloCijena").val();
        var kolicina = $("#txtKolicinaJela").val();

        var ukupno = jelocijena * kolicina;

        $("#txtUkupnaCijena").val(parseFloat(ukupno).toFixed(2));
    }

    function DohvatiCijenu(jeloId) {
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: { jeloId: jeloId },
            url: '/meni/dohvatiCijenu',
            success: function (data) {
                $("#txtJeloCijena").val(parseFloat(data).toFixed(2));
            },
            error: function () {
                alert("Problem s cijenom.");
            }
        });

    }
</script>

<h3>Dodaj jelo</h3>

@using (Html.BeginForm("Dodaj", "Meni", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    @*
        Html.AntiForgeryToken() - mehanizam koji nas štiti od cross site request forgery
        (poziva HTTP POST metode izvan naše aplikacije)
    *@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke!");

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.idjelo, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.idjelo,
             new SelectList(ViewBag.Jela, "Id", "Naziv", ""), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idjelo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dan, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.dan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.dan, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span> Spremi
                </button>
            </div>
        </div>
    </div>

}
@Html.ActionLink("Povratak bez spremanja", "Popis", "Meni")

