@using Paup_StudentskaMenza.Models

@model Meni


@{
    ViewBag.Title = "Dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3>Dodaj jelo</h3>

@using (Html.BeginForm("Dodaj", "Meni", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    @*
        Html.AntiForgeryToken() - mehanizam koji nas štiti od cross site request forgery
        (poziva HTTP POST metode izvan naše aplikacije)
    *@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke!");

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.idjelo, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.idjelo,
             new SelectList(ViewBag.Jela, "Id", "Naziv", ""), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idjelo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dan, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.dan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.dan, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span> Spremi
                </button>
            </div>
        </div>
    </div>

}
@Html.ActionLink("Povratak bez spremanja", "Popis", "Meni")

